bin/
target/
.settings/
.classpath
.project
.checkstyle
.gitattributes
*.class
*.war
*.jar
rebel.xml
.sass-cache/

*.ear
*.versionsBackup
spy.log
.springBeans
nbactions.xml
nb-configuration.xml
*.orig
.idea/*
.idea
*.iml
*.map6
#web/src/main/webapp/assets/style/new_styling/css/default.css
web/src/main/webapp/assets/style/new_styling/css/default.css.map
web/src/main/webapp/assets/style/new_styling/scss/default.css;.map
web/src/main/webapp/assets/style/new_styling/scss/default.css;
#Deze bestanden moeten wel worden commit wanneer ze gewijzigd zijn.
!smartcard-ta-client.jar
!fks-print-client-1.7.2-jar-with-dependencies.jar
!topicusformat.jar

xrebel.log
rebel.xml

.DS_Store
.metadata
.recommenders
